* {
  margin: 0;
  padding: 0;
}

:root {
  --withLion: 250px;
  --widthBase: 370px;
  --widthFace: 80px;
  --heightFace: 120px;
  --widthNose: 20px;
  --widthBaseFace: 155px;
  --widthTronco: 95px;

  --colorBody: #f5b515;
  --colorFace: #fdcf81;
  --colorHair: #924b39;
  --colorSombra: #cda267;
  --colorHand: #fbd278;
  --colorTail: #e49f16;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.container-picture {
  position: relative;
  width: 800px;
  height: 500px;
  background: #ffe4dd;
}
.container-base {
  position: absolute;
  top: 61%;
  left: calc(50% - var(--widthBase) / 2);
}

.circle-ext {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  box-sizing: border-box;
  background: #ec2e30;
  width: var(--widthBase);
  height: 110px;
  border-radius: 50%;
  z-index: 2;
}
.circle-int {
  background: #ffe2b6;
  width: 300px;
  height: 80px;
  border-radius: 50%;
}
.circle-base {
  position: absolute;
  z-index: 1;
  width: var(--widthBase);
  height: 133px;
  border-radius: 50%;
  background: #ec2e30;
  bottom: -133px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.barras {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 200%;
  height: 100%;
  bottom: -35px;
  will-change: contents;
  /* transition: transform 1s ease;
  transform: translateX(100%); */
  animation: moveBase 2s linear 0s infinite normal;
}
.barra {
  width: 13px;
  height: 100px;
  background: #ffe2b6;
}
.circle-pink {
  position: absolute;
  width: var(--widthBase);
  height: 140px;
  background: #eec2b6;
  border-radius: 50%;
}

.container-lion {
  display: flex;
  justify-content: center;
  z-index: 15;
  position: absolute;
  left: calc(50% - var(--withLion) / 2);
  width: var(--withLion);
  height: 280px;
  top: 15%;
}
.container-head-lion {
  width: 233px;
  height: 180px;
  transform-origin: bottom center;
  transform: rotate(0deg);
  animation-name: moveHead;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.container-base-face {
  display: flex;
  position: absolute;
  left: calc(50% - var(--widthBaseFace) / 2);
  justify-content: center;
  align-items: center;
  background: var(--colorHair);
  width: var(--widthBaseFace);
  height: 170px;
  border-radius: 50%;
}
.container-face {
  position: absolute;
  z-index: 25;
  width: var(--widthFace);
  height: var(--heightFace);
  background: var(--colorFace);
  border-radius: 67% 67% 36px 36px;
  overflow: hidden;
}
.container-nose {
  position: absolute;
  left: calc(50% - var(--widthNose) / 2);
  width: var(--widthNose);
  height: 100%;
  z-index: 10;
}
.nose {
  width: 100%;
  height: 75%;
  background: #ecab05;
}
.punta-nose {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-nose {
  height: 6px;
  width: 100%;
  background: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.circle-nose {
  width: 12px;
  height: 5px;
  background: black;
  border-radius: 0 0 10px 10px;
}
.container-linea-semicircle-nose {
  display: flex;
  position: relative;
}
.linea-nose {
  width: 2px;
  height: 10px;
  background: black;
}
.container-semicircle-left {
  position: absolute;
  bottom: -2px;
  left: -8px;
}
.container-semicircle-right {
  position: absolute;
  bottom: -2px;
  margin-left: 1px;
}
.semicircle-nose {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid black;
}
.semicircle-ocul-right {
  position: absolute;
  width: 8px;
  height: 7px;
  background: #fdcf81;
  top: -1px;
  left: 1px;
}
.semicircle-ocul-left {
  position: absolute;
  width: 8px;
  height: 7px;
  background: #fdcf81;
  top: -1px;
  left: 0px;
}
.eye-left {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}
.eye-right {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}
.container-ear {
  background: #fecc83;
  width: 27px;
  height: 25px;
  position: absolute;
  z-index: 10;
  left: 4%;
  top: 35px;
  border-radius: 10px 10px 7px 7px;
  transform: rotate(-55deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.container-ear-right {
  background: #fecc83;
  width: 27px;
  height: 25px;
  position: absolute;
  z-index: 10;
  right: 4%;
  top: 35px;
  border-radius: 10px 10px 7px 7px;
  transform: rotate(55deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.container-ear-int {
  background: #fb931a;
  width: 21px;
  height: 24px;
  border-radius: 50%;
  transform: translateY(3px);
}
.container-hear-down {
  position: absolute;
  bottom: -1px;
  left: 25px;
  background: var(--colorHair);
  width: 85px;
  height: 52px;
  border-radius: 4px;
  transform: rotate(45deg);
}
.linea-hear-down-right {
  position: absolute;
  z-index: 40;
  width: 20px;
  height: 3px;
  background: var(--colorSombra);
  top: 15px;
  right: -11px;
  transform: rotate(90deg);
  border-radius: 100% 100% 1px 1px;
}
.linea-hear-down-left {
  position: absolute;
  z-index: 40;
  width: 20px;
  height: 3px;
  background: var(--colorSombra);
  bottom: -3px;
  right: 24px;
  transform: rotate(-180deg);
  border-radius: 100% 100% 1px 1px;
}

.hear-down-left-one {
  left: 23px;
}
.container-hear-down-right {
  position: absolute;
  bottom: -30px;
  right: -80px;
  height: 200px;
  width: 120px;
  overflow: hidden;
  transform: rotate(75deg);
  z-index: -1;
  bottom: -16px;
  left: 13px;
  position: absolute;
  height: 200px;
  width: 120px;
  overflow: hidden;
  transform: rotate(75deg);
  z-index: -1;
}

.right-dos {
  transform: rotate(26deg);
  bottom: 0px;
}
.right-tres {
  transform: rotate(-8deg);
  left: -42px;
  bottom: 0;
}
.right-cuatro {
  transform: rotate(-80deg);
  bottom: -55px;
  left: -42px;
}
.container-hear-down-left {
  position: absolute;
  bottom: -14px;
  left: -35px;
  height: 200px;
  width: 120px;
  overflow: hidden;
  transform: rotate(-75deg);
}

.left-dos {
  transform: rotate(-26deg);
  bottom: 0;
}
.left-tres {
  transform: rotate(8deg);
  left: 12px;
  bottom: 0;
}
.left-cuatro {
  transform: rotate(80deg);
  left: 44px;
  bottom: -95px;
}
.hear-down-left {
  height: 100%;
  width: 849%;
  border: 120px solid transparent;
  border-top: 120px solid var(--colorHair);
  border-radius: 50%;
  border-left: 0;
  top: -27px;
  left: 5px;
  position: absolute;
}
.hear-down-left-sombra {
  height: 100%;
  width: 849%;
  border: 120px solid transparent;
  border-top: 120px solid var(--colorSombra);
  border-radius: 50%;
  border-left: 0;
  position: absolute;
  top: -26px;
  left: 0;
  z-index: -2;
}
.hear-down-right {
  height: 100%;
  width: 849%;
  border: 120px solid transparent;
  border-top: 120px solid var(--colorHair);
  border-right: 0px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: -27px;
}

.hear-down-right-sombra {
  height: 100%;
  width: 849%;
  border: 120px solid transparent;
  border-top: 120px solid #e1ac78;
  border-right: 0px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: -26px;
  z-index: -2;
}
.container-hear-down-left-cont {
  height: 87px;
  width: 105px;
  position: absolute;
  bottom: -14px;
  left: -54px;
  overflow: hidden;
}

.container-hear-down-left-cont-dos {
  height: 164px;
  width: 136px;
  position: absolute;
  bottom: 18px;
  left: -43px;
  overflow: hidden;
}
.container-hear-down-left-cont-tres {
  bottom: 85px;
  width: 85px;
  height: 164px;
  position: absolute;
  left: -43px;
  overflow: hidden;
}
.container-hear-down-left-cont-cuatro {
  top: -88px;
  left: -7px;
  height: 104px;
  z-index: 0;
  bottom: 85px;
  width: 164px;
  position: absolute;
  overflow: hidden;
}
.container-hear-down-right-cont {
  height: 87px;
  width: 105px;
  position: absolute;
  bottom: -14px;
  right: -60px;
  overflow: hidden;
}
.container-hear-down-right-cont-dos {
  bottom: 28px;
  height: 103px;
  /* width: 136px; */
  right: -44px;
  width: 105px;
  position: absolute;

  overflow: hidden;
}
.container-hear-down-right-cont-tres {
  bottom: 85px;
  right: -53px;
  height: 100px;
  width: 105px;
  position: absolute;
  overflow: hidden;
}
.container-hear-down-right-cont-cuatro {
  right: -53px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  bottom: 114px;
  width: 164px;
}

/* cuerpo */
.container-body-lion {
  position: absolute;
  top: 59%;
  left: calc(50% - var(--widthTronco) / 2);
  z-index: -2;
}
.container-tronco {
  width: var(--widthTronco);
  height: 125px;
  background: var(--colorBody);
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0 100%);
}
.arm-left {
  width: 20px;
  height: 128px;
  background: var(--colorBody);
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -4px;
  transform: rotate(10deg);
  border-left: 1px solid #efad18;
}
.container-hand {
  position: absolute;
  left: -10px;
  bottom: -5px;
  width: 53px;
  height: 30px;
  background: var(--colorHand);
  border-radius: 3px 11px 2px 3px;
  z-index: 10;
}
.container-dedos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -5px;
}
.finger {
  width: 29px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  background: var(--colorHand);
  transform: rotate(5deg);
  top: -1px;
  border-left: 2px solid #e0a225;
}

.dedo:nth-child(1) {
  width: 20px;
  height: 30px;
  background: var(--colorHand);
  border-radius: 20px 0 20px 20px;
  border-bottom: 3px solid var(--colorSombra);
  position: absolute;
  top: -33px;
  left: -4px;
}
.dedo:nth-child(2) {
  width: 20px;
  height: 30px;
  background: var(--colorHand);
  border-radius: 20px 0 20px 20px;
  border-bottom: 3px solid var(--colorSombra);
  position: absolute;
  top: -33px;
  left: 13px;
}
.dedo:nth-child(3) {
  width: 20px;
  height: 30px;
  background: var(--colorHand);
  border-radius: 20px 20px 20px 20px;
  border-bottom: 3px solid var(--colorSombra);
  position: absolute;
  top: -33px;
  left: 33px;
}
.separador-dedo:nth-child(1) {
  width: 3px;
  height: 12px;
  border-radius: 50%;
  background-color: #d2a02b;
  position: absolute;
  left: 11px;
  transform: rotate(-9deg);
  bottom: 0;
}
.separador-dedo:nth-child(2) {
  width: 3px;
  height: 15px;
  border-radius: 50%;
  background-color: #d2a02b;
  position: absolute;
  left: 32px;
  transform: rotate(3deg);
  bottom: 0;
}
.sombra-brazo-left {
  height: 70px;
  width: 20px;
  background-color: #e4a20f;
  position: absolute;
  left: 25px;
  top: -70px;
  clip-path: polygon(70% 0%, 100% 10%, 85% 20%, 75% 30%, 70% 100%, 0% 100%);
}
.pierna-atras-left {
  position: absolute;
  left: -18px;
  width: 30px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--colorBody);
  top: 21px;
  z-index: -3;
}
.pata-atras-left {
  position: absolute;
  width: 35px;
  height: 27px;
  border-radius: 55% 0 0 11px;
  background-color: var(--colorBody);
  transform: rotate(17deg);
  top: 89px;
  left: -38px;
  z-index: -3;
  border-bottom: 2px solid #e4a20f;
}
.arm-right {
  width: 20px;
  background: var(--colorBody);
  border-radius: 50%;
  position: absolute;
  left: 77px;
  transform: rotate(-10deg);
  border-left: 0;
  border-right: 1px solid #efad18;
  height: 100px;
  top: 25px;
}
.hand-right {
  left: 60px;
}
.sombra-brazo-right {
  z-index: -2;
  width: 8px;
  height: 50px;
  left: 0;
  top: -48px;
  clip-path: polygon(10% 6%, 50% 0%, 100% 5%, 100% 100%, 20% 100%, 63% 33%);
}
.finger-right {
  border-left: none;
}
.dedo-right {
  border-right: 2px solid #e0a225;
}
.dedo-right-uno {
  left: 11px;
}
.dedo-right-dos {
  left: 32px;
}
.atras-right {
  left: 78px;
}
.atras-right-pata {
  left: 92px;
  transform: rotate(-17deg);
  border-radius: 0 55% 11px 0;
}
.container-tail {
  transform-origin: bottom center;
  animation-name: moveTail;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  /* animation-delay: 1s; */
  width: 50px;
  height: 76px;
  position: absolute;
  top: 5px;
  right: -22px;
  z-index: -5;
}
body.animate .container-tail {
  animation-name: moveTail;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
.curve-left {
  position: absolute;
  z-index: -4;
  top: 0;
  left: -7px;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background: none;
  border-bottom: 10px solid var(--colorTail);
  transform: rotate(-35deg);
}
.container-punta-tail {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 49px;
  top: 10px;
}
.punta-tail {
  width: 30px;
  height: 30px;
  background: var(--colorHair);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: -8px;
}
.hair-tail {
  left: 132px;
  height: 35px;
  width: 40px;
  bottom: 75px;
}
.right-cinco {
  transform: rotate(-76deg);
  left: -131px;
  bottom: -105px;
}
.circulo-tail {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #ffe4dd;
  position: absolute;
  left: 3px;
  top: 10px;
}
.tail-dos {
  left: 20px;
  top: 12px;
}
@keyframes moveHead {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(6deg);
  }
}
@keyframes moveTail {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-12deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-12deg);
  }
  95% {
    transform: rotate(0deg);
  }
  97% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}
@keyframes moveBase {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-25%);
  }
}
